.scene {
  flex: 1;
  position: relative;
}

.actors {
  position: absolute;
  display: flex;
  width: 100%;
  top: 0;
  height: 40%;
}

.dialogue {
  position: absolute;
  bottom: 10px;
  top: 40%;
  left: 10px;
  right: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border: 2px solid grey;
  border-radius: 4px;
}

.arrow {
  content: "";
  position: absolute;
  top: -10px;
  border: 20px solid transparent;
  border-bottom-color: grey;
  bottom: 60%;
  left: 50%;
  transition: 300ms ease-in-out left, 100ms ease-in-out top;
  opacity: 0;
}

.arrow[data-actor="left"] {
    left: 30%;
    display: block;
    opacity: 1;
}

.arrow[data-actor="right"] {
    left: 70%;
    display: block;
    opacity: 1;
}

.leftActor,
.rightActor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.confirm {
  margin-top: 1em;
}
